
<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MyFlaskApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/train">Data Train</a></li>
            <li><a href="/test">Data Test</a></li>
            <li><a href="/pivot">Data Pivot</a></li>
            <li><a href="/matriks_c45">Data C4.5</a></li>
            <li><a href="/hasil_knn">Data Hasil KNN</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
