{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>DASHBOARD</h1>
    <p class="lead">METODE C4.5 DAN METODE KNN</p>
    <!-- {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %} -->
  </div>
{% endblock %}
