{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard </h1>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>NPM</th>
        <th>NAMA</th>
        <th>ANGKATAN</th>
        <th>MATKUL</th>
        <th>NILAI</th>
        <th>SEMESTER</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
      {% for test in tests %}
        <tr>
          <td>{{test.id}}</td>
          <td>{{test.npm}}</td>
          <td>{{test.nm_mhs}}</td>
          <td>{{test.angkatan}}</td>
          <td>{{test.nm_matkul}}</td>
          <td>{{test.nilai}}</td>
          <td>{{test.semester}}</td>
          <td>{{test.status}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}