{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard </h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>NPM</th>
      <th>NAMA</th>
      <th>ANGKATAN</th>
      <th>MATKUL</th>
      <th>NILAI</th>
      <th>SEMESTER</th>
      <th>STATUS</th>
    </tr>
    {% for train in trains %}
      <tr>
        <td>{{train.id}}</td>
        <td>{{train.npm}}</td>
        <td>{{train.nm_mhs}}</td>
        <td>{{train.angkatan}}</td>
        <td>{{train.nm_matkul}}</td>
        <td>{{train.nilai}}</td>
        <td>{{train.semester}}</td>
        <td>{{train.status}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}